:root {
  --cor-secundaria: #748aff;
  --cor-terciaria: #cdc2ae;
  --cor-hover: #dde7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, var(--cor-secundaria), var(--cor-terciaria));
  background-color: var(--cor-secundaria);
  color: var(--cor-hover);
}

.cabecalho__menu {
  background-color: #dde7ff;
}

.cabecalho__item {
  margin-left: 40px;
  font-family: A Std, monospace;
  font-weight: 600;
  font-size: 20px;
  color: var(--cor-secundaria);
  text-decoration: none;
}

.cabecalho__home {
  margin-left: 550px;
}

.apresentacao {
  padding: 2% 0% 0% 5%;
}

.apresentacao_titulo {
  display: flex;
  gap: 10px;
  margin-right: 50px;
  font-family: A Std, monospace;
  font-weight: 600;
}

.imagens {
  display: flex;
  gap: 10px;
  margin: 2% 5%;
}

.rodape {
  padding: 30px;
  margin: 5% 0%;
  color: #748aff;
  background-color: #c1d2ff;
  text-align: center;
}

.image-link img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  max-width: 100%;
  height: auto;
}

.apresentacao__links__subtitulo {
  color: #dde7ff;
  font-size: 17px;
  font-family: A Std, monospace;
  margin: 2% 5%;
}

.apresentacao__social-link {
  display: flex;
  justify-content: center;
  gap: 1px;
  border: 2px solid var(--cor-terciaria);
  width: 20%;
  border-radius: 9px;
  font-size: 1rem;
  font-weight: 600;
  padding: 1%;
  text-decoration: none;
  color: #cdc2ae;
  font-family: A Std, monospace;
  margin: 1% 5% 10%;
  align-items: center;
}

.descricao {
  justify-content: center;
  margin: 5% 5% 0%;
  font-size: 20px;
}

.segundo_paragrafo {
  font-size: 20px;
  margin: 2% 5%;
}

@media only screen and (max-width: 600px) {
  .cabecalho__menu {
    display: flex;
    justify-content: center;
  }

  .cabecalho__item {
    margin-left: 2%;
  }

  .descricao {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  .apresentacao_titulo {
    flex-direction: column;
    align-items: center;
  }

  .apresentacao__links__subtitulo {
    justify-content: left;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 3%;
  }

  .imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -5px;
  }

  .imagens img {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    margin: 0 5px;
  }

  .apresentacao__social-link {
    padding: 5%;
  }
}
